%h2 Status List
%table.data
  %thead
    %tr
      %th Status
      %th Description
      %th
      %th

  -   @statuses.each do |status|
    %tr
      %%td= link_to status.name, status
      %td= status.description
      -#%td= link_to 'Show', status
      %td= link_to 'Edit', edit_status_path(status)
      %td= link_to 'Delete', status, :confirm => 'Are you sure?', :method => :delete
%br
  = link_to 'New Status', new_status_path
