%div.page-header
  %h1 Status

.container
  %table.table.table-bordered.table-striped.table-condensed
    %tr
      %td Name
      %td Description
      %td
    %tr
      %td #{@status.name}
      %td #{@status.description}
      %td
        %i{:class=>@status.images}
  %button.btn.btn-success
    = link_to 'Edit Status', edit_status_path(@status)
