/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*@import "bootstrap";*/


body{
  font:12px arial,helvetica,verdana,sans-serif;
  background: rgb(247, 247, 247);
}

tr {
    border: 1px solid black;
}

h1 {font-size: 32px; font-weight: bold;}
h2 {font-size: 28px; font-weight: bold;}
h3 {font-size: 24px; font-weight: bold;}
h3.date-range {color: #999; margin-top: 20px}

