/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@import "bootstrap";


body{
  font:12px arial,helvetica,verdana,sans-serif;
  background: rgb(247, 247, 247);
}

tr {
    border: 1px solid black;
}

h1 {font-size: 32px; font-weight: bold;}
h2 {font-size: 28px; font-weight: bold;}
h3 {font-size: 24px; font-weight: bold;}
h3.date-range {color: #999; margin-top: 20px}

/* DATA TABLES */
/*
.data {
  width: 100%;
  border-spacing:10;
  font-size: 1.1em;
  border-collapse: separate;
  border-left:1px solid #E4E4E4;
  border-top:1px solid #E4E4E4;

  background-color: #FFFFFF ;
}

.data a {
  text-decoration: underline;
}

.data thead {
  background: #EEEEEE;
}

.data th {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgb(228, 228, 228);
  border-right: 1px solid rgb(228, 228, 228);
}

.data tr {
  font-size: 16px;
}

.data td {
  padding: 10px;
  border-bottom: 1px solid rgb(228, 228, 228);
  border-right: 1px solid rgb(228, 228, 228);
  vertical-align: middle;
  height: 25px;
}


.data .time { width: 20%; }
.data .today { background: rgb(228, 228, 228); }
.data .highlight { background: rgb(247, 247, 247); }
.data .status, .data .date, .data .today { text-align: center; }
.data .action { width: 5px; }

.data .status img {
  max-width: 20px;
}
*/
